<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>All</title>
</head>
<body>
<div class="container">
    <h2>All Appointment</h2>
    <table class="table table-striped">
        <tr>
            <th>appointment_id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Date_of_birth</th>
            <th>Address</th>
            <th>time_zone</th>
            <th>injection_address</th>
            <th>vaccine_id</th>
            <th>Gender</th>
            <th>Price</th>

        </tr>
        <tr th:each="appointmentone : ${appointmentsList}">
            <td th:text="${appointmentone.appointment_id}">Id</td>
            <td th:text="${appointmentone.name}">Name</td>
            <td th:text="${appointmentone.phone}">sdt</td>
            <td th:text="${appointmentone.date_of_birth}">ngay sinh</td>
            <td th:text="${appointmentone.address}">address</td>
            <td th:text="${appointmentone.time_zone}">time</td>
            <td th:text="${appointmentone.injection_address}">inject</td>
            <td th:text="${appointmentone.vaccine_id}">vaccine_id</td>
            <td th:text="${appointmentone.gender}">gender</td>
            <td th:text="${appointmentone.vaccine.price}">price</td>
            <td><a th:href="${'/appointments/editAppointment/' + appointmentone.appointment_id}" class="btn btn-default">Edit</a></td>
            <td><a th:href="${'/appointments/delete/' + appointmentone.appointment_id}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>