<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>All</title>
</head>
<body>
<div class="container">
    <h2>All Vaccines</h2>
    <table class="table table-striped">
        <tr>
            <th>Vaccine_id</th>
            <th>Vaccine_name</th>
            <th>Date_production</th>
        </tr>
        <tr th:each="vaccineone : ${vaccinesList}">
            <td th:text="${vaccineone.vaccine_id}">Id</td>
            <td th:text="${vaccineone.vaccine_name}">Name</td>
            <td th:text="${vaccineone.date_production}">Amount</td>

            <td><a th:href="${'/vaccines/editVaccine/' + vaccineone.vaccine_id}" class="btn btn-default">Edit</a></td>
            <td><a th:href="${'/vaccines/delete/' + vaccineone.vaccine_id}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>