<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Medicio Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!--/*@thymesVar id="appointment" type=""*/-->

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!--    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">-->
    <!--    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">-->

    <!--    <link rel="stylesheet" href="../static/assets/css/style1.css">-->
    <!--    <link href="../static/assets/css/style.css" rel="stylesheet">-->

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">



    <link rel="stylesheet" th:src="@{/assets/css/registration.css}">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

    <style>
        section{
            margin-top: 90px;
        }
        .form-row input{
            width:700px;
            height: 25px;
            margin: 10px 10px 20px 50px;

        }
        .form-row select{
            width: 700px;
            height: 25px;
            margin: 10px 10px 20px 50px;

        }
        .form-row label{
            color: #3fbbc0;
            margin: 18px 0px 0px 80px ;
        }
        .class_iputradio{
            margin: 0px !important;
            width: 18px !important;
            height: 18px !important;
        }

    </style>
<body>
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <i class="icofont-clock-time"></i> Monday - Saturday, 8AM to 10PM
        </div>
        <div class="d-flex align-items-center">
            <a href="/login" class="appointment-btn scrollto"><span class="d-none d-md-inline">Đăng nhập/Đăng kí</span> </a>
        </div>
    </div>
</div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="/index" class="logo mr-auto"><img th:src="@{/assets/img/logo.png}" alt=""></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo mr-auto"><a href="index.html">Medicio</a></h1> -->
        < <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="active"><a href="index">Trang chủ</a></li>
            <li><a href="#about">Thông tin</a></li>
            <li><a href="#departments">Phòng tránh</a></li>
            <li><a href="#doctors">Bác sĩ</a></li>
            <li><a href="#contact">Liên hệ</a></li>
            <li><a th:href="@{/sotiem}">Sổ tiêm</a></li>

        </ul>
    </nav>
        <!-- .nav-menu -->
        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Đăng kí tiêm</span> </a>
    </div>
</header>
<!-- End Header -->
<!-- ======= Appointment Section ======= -->
<section style=" margin-top: 90px" id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>ĐĂNG KÝ THÔNG TIN TIÊM VACXIN COVID-19</h2>
            <p>Việc đăng ký thông tin tiêm chủng nhằm giúp Quý Khách tiết kiệm thời gian khi làm thủ tục tại quầy lễ tân của Trung Tâm, không mang ý nghĩa đặt trước giữ mũi vắc xin.</p>
        </div>
        <div th:if="${error != null}" class="section-title">
            <span th:text="${error}" class="text-danger" style="text-align: center; border: 2px solid red; padding: 16px;"></span>
        </div>

        <form method="post" role="form" th:action="@{/appointments/save}" th:object="${appointment}" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Họ và tên:</label>
                </div>
                <div class="col-md-9">
                    <input type="hidden" name="user_id" class="form-control" th:value="${id}" >
                    <input type="text" name="name" class="form-control" th:value="*{name}" placeholder="Họ và tên người được tiêm(*)" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Ngày sinh:</label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="form-control" name="date_of_birth" th:value="*{date_of_birth}" placeholder="Nhập ngày sinh">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-md-3">
                    <label class="formlabel" >Giới tính:</label>
                </div>
                <div class="col-md-3">
                    <label>Nam</label>
                    <input class="class_iputradio" name = "gender" type="radio" value="1" checked/>
                </div>
                <div class="col-md-3">
                    <label>Nữ</label>
                    <input class="class_iputradio" name = "gender" type="radio" value="2" />
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Điện thoại:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="phone" th:value="*{phone}" placeholder="Số điện thoại của bạn" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên." >
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Địa chỉ thường trú:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="address" class="form-control datepicker" th:value="*{address}" placeholder="Nhập địa chỉ">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel">Địa điểm tiêm:</label>
                </div>
                <div class="col-md-9">
                    <select  name="place_id" class="form-control" th:value="*{place_id}" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">
                        <option th:each="place : ${placesList}" th:value="${place.place_id}" th:text="${place.places}"></option>
                    </select>
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Mũi tiêm:</label>
                </div>
                <div class="col-md-9">
                   <!--<select name="vaccine_id" text="number" class="form-control" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">
                       <option selected disabled th:value="${vaccine.vaccine_id}" th:text="${vaccine.vaccine_name}"></option>
                    </select>-->
                    <input type="hidden" name="vaccine_id"   class="form-control" th:value="${vaccine.vaccine_id}" data-rule="minlen:4"  >
                    <input type="text" disabled name="vaccine_name"   class="form-control" th:value="${vaccine.vaccine_name}" data-rule="minlen:4"  >
                    <div class="validate"></div>
                </div>


            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label class="formlabel" >Ngày tiêm:</label>
                </div>
                <div class="col-md-9">
                    <input type="date" name="date"   class="form-control" th:value="*{date}"   data-rule="minlen:4"  >
                    <div class="validate"></div>
                </div>
            </div>

                <div class="col-md-9">
                    <input type="hidden"  class="form-control" name="phone" th:value="*{user_id}" placeholder="Số điện thoại của bạn" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên." >
                    <div class="validate"></div>
                </div>


            <div class="text-center"><button type="submit">Đăng kí thông tin tiêm chủng</button></div>
        </form>

    </div>
</section>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Medicio</h3>
                        <p>
                            A108 Adam Street <br> NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Medicio</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script th:src="@{/assets/vendor/waypoints/jquery.waypoints.min.js}"></script>
<script th:src="@{/assets/vendor/counterup/counterup.min.js}"></script>
<script th:src="@{/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script th:src="@{/assets/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>


<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/data.js}"></script>


</body>

</html>