<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Vacxin covid-19</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">


        <!-- Favicons -->
        <link th:href="@{/assets/img/favicon.png}" rel="icon">
        <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/venobox/venobox.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">



        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
        <link th:href="@{/assets/css/style1.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <i class="icofont-clock-time"></i> Thứ Hai - Thứ Sáu ,Từ 8H đến 20H             </div>
        <div class="d-flex align-items-center">
            <a href="fontend/login.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Đăng nhập/Đăng ký</span> </a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <a href="../index.html" class="logo mr-auto"><img th:src="@{/assets/img/logo.png}" alt=""></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo mr-auto"><a href="index.html">Medicio</a></h1> -->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Trang chủ</a></li>
                <li><a href="#about">Thông tin</a></li>
                <li><a href="#departments">Phòng tránh</a></li>
                <li><a href="#doctors">Bác sĩ</a></li>
                <li><a href="#contact">Liên hệ</a></li>

            </ul>
        </nav>
        <!-- .nav-menu -->

        <a href="fontend/registration.html" class="appointment-btn scrollto"><span class="d-none d-md-inline">Đăng ký tiêm</span> </a>

    </div>
</header>
<!-- End Header -->
<!-- form Sigin -->
<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Đăng kí</h2>
        </div>
        <form action="#" th:action="@{/save}" th:object="${user}" method="post">


            <div class="form-group">
                <label th:field="*{username}" class="formlabel" >Tên tài khoản</label>
                <input type="tel" class="form-control" name="Username" id="Username" placeholder="Tên tài khoản" data-rule="minlen:4" data-msg="Vui lòng nhập tên tài khoản">
                <div class="validate"></div>
            </div>

            <div class="form-group">
                <label th:field="*{password}"  class="formlabel" >Mật khẩu</label>
                <input type="password" name="date" class="form-control datepicker" id="Password" placeholder="Mật khẩu" data-rule="minlen:4" data-msg="Vui lòng nhập mật khẩu">
                <div class="validate"></div>

            </div>

            <div class="form-group">
                <label class="formlabel" >Nhập lại mật khẩu</label>
                <input type="password" name="date" class="form-control datepicker" id="Repassword" placeholder="Nhập lại mật khẩu" data-rule="minlen:4" data-msg="Vui lòng nhập mật khẩu" >
                <div class="validate"></div>

            </div>

            <div class="text-center">
                <button   type="submit">Đăng kí</button>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Bạn đã có tài khoản? <a href="login.html" class="ml-2">Đăng nhập</a>
                    </div>
                    <!-- <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div> -->
                </div>
            </div>
        </form>

    </div>
</section>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>COVID-19</h3>
                        <p>
                            Số 8 Đường Tôn Thất Thuyết <br> Mỹ Đình 2, Từ Liêm, Hà Nội, Việt Nam<br><br>
                            <strong>Số điện thoại:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> covid_19@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Liên hệ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Bản tin của chúng tôi</h4>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Đăng ký">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Covid-19</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->
<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script th:src="@{/assets/vendor/waypoints/jquery.waypoints.min.js}"></script>
<script th:src="@{/assets/vendor/counterup/counterup.min.js}"></script>
<script th:src="@{/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script th:src="@{/assets/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>


<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/data.js}"></script>
</body>

</html>