<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/admincss/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/admincss/vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/admincss/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/admincss/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="/admin/index.html"><img th:src="@{/admincss/images/logo.png}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="/admin/index.html"><img th:src="@{/admincss/images/logo-mini.svg}" alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown mr-1">
                    <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-message-text mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img th:src="@{/admincss/images/faces/face4.jpg}" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">David Grey
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img th:src="@{/admincss/images/faces/face2.jpg}" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">Tim Cook
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    New product launch
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img th:src="@{/admincss/images/faces/face3.jpg}" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal"> Johnson
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    Upcoming board meeting
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-success">
                                    <i class="mdi mdi-information mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-warning">
                                    <i class="mdi mdi-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-info">
                                    <i class="mdi mdi-account-box mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img th:src="@{/admincss/images/faces/face5.jpg}" alt="profile"/>
                        <span class="nav-profile-name">Louis Barnett</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="mdi mdi-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="mdi mdi-logout text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">


                <li class="nav-item">
                    <a class="nav-link" href="doctor.html">
                        <i class="mdi mdi-view-headline menu-icon"></i>
                        <span class="menu-title">Dotors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chartjs.html">
                        <i class="mdi mdi-chart-pie menu-icon"></i>
                        <span class="menu-title">User</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="appointments.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Appointment</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vaccines.html">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Vacxin</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="place.html">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Place</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">Login</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="LoginSignup/login.html"> Login </a></li>
                            <li class="nav-item"> <a class="nav-link" href="LoginSignup/register.html"> Register </a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Appointments</h4>

                                <form method="post" role="form" th:action="@{/admin/pages/addAppointments}" th:object="${appointment}" class="php-email-form" data-aos="fade-up" data-aos-delay="100">

                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Họ và tên:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="name" class="form-control" th:value="*{name}" placeholder="Họ và tên người được tiêm(*)" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Ngày sinh:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="date_of_birth" th:value="*{date_of_birth}" placeholder="Nhập ngày sinh">
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Giới tính:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select type="text" name="gender"  th:value="*{gender}" class="form-control" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">
                                                <option value="">Giới tính</option>
                                                <option>Nam</option>
                                                <option>Nữ</option>
                                            </select>
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Điện thoại:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="phone" th:value="*{phone}" placeholder="Số điện thoại của bạn" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên." >
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Địa chỉ thường trú:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="address" class="form-control datepicker" th:value="*{address}" placeholder="Nhập địa chỉ">
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel">Địa điểm tiêm:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select  name="place_id" class="form-control" th:value="*{place_id}" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">
                                                <option th:each="place : ${placesList}" th:value="${place.place_id}" th:text="${place.places}"></option>
                                            </select>
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Mũi tiêm:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select name="vaccine_id" text="number" th:value="*{vaccine_id}"  class="form-control" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">
                                                <option th:each="vaccine : ${vaccinesList}" th:value="${vaccine.vaccine_id}" th:text="${vaccine.vaccine_name}"></option>
                                            </select>
                                            <div class="validate"></div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Ngày tiêm:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="date" name="date"   class="form-control" th:value="*{date}"   data-rule="minlen:4"  >
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <label class="formlabel" >Giờ hẹn:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="time_zone" class="form-control" th:value="*{time_zone}" >
                                            <div class="validate"></div>
                                        </div>
                                    </div>

                                    <div class="text-center"><button type="submit">Đăng kí thông tin tiêm chủng</button></div>
                                </form>

<!--                                <form class="forms-sample" th:object="${appointment}" action="/appointments" method="post">-->
<!--                                    <div class="form-group">-->
<!--                                        <label >Appointment_id</label>-->
<!--                                        <input type="hidden" th:field="*{appointment_id}" class="form-control"  placeholder="appointment_id">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Name</label>-->
<!--                                        <input type="text" th:field="*{name}" class="form-control" placeholder="Name">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Phone</label>-->
<!--                                        <input type="text" th:field="*{phone}" class="form-control" placeholder="phone">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Date of birth</label>-->
<!--                                        <input type="date"th:field="*{date_of_birth}" class="form-control"  placeholder="Date of birth">-->
<!--                                    </div>-->

<!--                                    <div class="form-group">-->
<!--                                        <label > Gender</label>-->
<!--                                        <input type="text" class="form-control" th:field="*{gender}"  placeholder="gender">-->

<!--                                    </div>-->

<!--                                    <div class="form-group">-->
<!--                                        <label > Address</label>-->
<!--                                        <input type="text" th:field="*{address}" class="form-control"  placeholder="Address">-->
<!--                                    </div>-->

<!--                                        <div class="form-group">-->
<!--                                            <label > Place</label>-->
<!--                                            <select  name="place_id" class="form-control" th:value="*{place_id}" data-rule="minlen:4" data-msg="vui lòng nhập họ và tên.">-->
<!--                                                <option th:each="place : ${placesList}" th:value="${place.place_id}" th:text="${place.places}"></option>-->
<!--                                            </select>-->
<!--                                            <div class="validate"></div>-->
<!--                                        </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Vacxin</label>-->
<!--                                        <input type="text" th:field="*{vaccine_id}" class="form-control"  placeholder="Vacxin">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Date</label>-->
<!--                                        <input type="date"th:field="*{date}" class="form-control"  placeholder="Date">-->
<!--                                    </div>-->
<!--                                    <div class="form-group">-->
<!--                                        <label > Time_zone</label>-->
<!--                                        <input type="text" th:field="*{time_zone}" class="form-control"  placeholder="Time_zone">-->
<!--                                    </div>-->



<!--                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>-->
<!--                                    <button class="btn btn-light">Cancel</button>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/admincss/vendors/base/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- inject:js -->
<script th:src="@{/admincss/js/off-canvas.js}"></script>
<script th:src="@{/admincss/js/hoverable-collapse.js}"></script>
<script th:src="@{/admincss/js/template.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/admincss/js/file-upload.js}"></script>
<!-- End custom js for this page-->
</body>
</html>










